<!-- app/views/test_passages/result.html.erb -->
<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful_passage? %>
  <div class="alert alert-success"><%= t('test_passages.result.success') %></div>
  <p>
    <%= t('test_passages.result.percentage') %> <strong style="color:#0ED002" ><%= @test_passage.percentage_completion %> %</strong><br>
  </p>
  <% if current_user.badges.any? %>
    <h2>Your Badges</h2>
    <div class="d-flex flex-wrap gap-3">
      <%= current_user.badges.each do |badge| %>
        <div class="card" style="width: 10rem;">
          <img src="<%= badge.image %>" class="card-img-top" alt="<%= badge.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= badge.title %></h5>
            <p class="card-text"><%= badge.rule %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <div class="alert alert-danger"><%= t('test_passages.result.fail') %></div>
  <p>
    <%= t('test_passages.result.percentage') %> <strong style="color:#FC0221"><%= @test_passage.percentage_completion %> %</strong><br>
  </p>
<% end %>

<%= link_to t('all_tests'), tests_path, class: "text-decoration-none" %>
