<!-- app/views/test_passages/result.html.erb -->
<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successful_passage? %>
  <div class="alert alert-success"><%= t('test_passages.result.success') %></div>
  <p>
    <%= t('test_passages.result.percentage') %> <strong style="color:#0ED002" ><%= @test_passage.percentage_completion %> %</strong><br>
  </p>
<% else %>
  <div class="alert alert-danger"><%= t('test_passages.result.fail') %></div>
  <p>
    <%= t('test_passages.result.percentage') %> <strong style="color:#FC0221"><%= @test_passage.percentage_completion %> %</strong><br>
  </p>
<% end %>

<%= link_to t('all_tests'), tests_path, class: "text-decoration-none" %>
