<!-- app/views/admin/tests/index.html.erb -->
<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><%= t('admin.tests.index.header') %></h5>
    <%= link_to t('admin.tests.new'), new_admin_test_path,
                class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t('tests.index.title') %></th>
        <th><%= t('admin.labels.category') %></th>
        <th><%= t('tests.index.level') %></th>
        <th><%= t('tests.index.duration') %></th>
        <th><%= t('tests.index.count') %></th>
        <th><%= t('tests.index.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @tests.each do |test| %>
        <tr data-controller="inline-edit" data-test-id="<%= test.id %>">
          <td data-inline-edit-target="title">
            <%= test.title %>
            <input type="text"
                   class="form-control d-none"
                   data-inline-edit-target="titleInput"
                   value="<%= test.title %>">
          </td>
          <td><%= test.category.title %></td>
          <td><%= t("tests.levels.#{test.level}") %></td>
          <td data-inline-edit-target="duration">
            <%= test.duration / 60 %> минут <!-- Display duration in minutes -->
            <input type="number"
                   class="form-control d-none"
                   data-inline-edit-target="durationInput"
                   value="<%= test.duration / 60 %>"> <!-- Input in minutes -->
          </td>
          <td><%= test.questions.count %></td>
          <td>
            <%= link_to t('admin.labels.show'), admin_test_path(test),
                        class: "btn btn-sm btn-info" %>
            <%= link_to t('admin.labels.edit'), edit_admin_test_path(test),
                        class: "btn btn-sm btn-warning" %>
            <%= link_to t('admin.labels.delete'), admin_test_path(test),
                        method: :delete,
                        data: { confirm: t('admin.labels.confirm_delete') },
                        class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @tests %>
  </div>
</div>